{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
    <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1>{{ .Title }}</h1>
            <hr />
          </div>
        </div>
        <div class="row">
            {{ range .Data.Pages }}
            {{"<!-- single blog post -->" | safeHTML}}
            <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp d-flex align-items-stretch" data-wow-duration="500ms">
                <div class="post-block d-flex flex-column">
                    {{ with .Params.thumbnail }}
                    <div class="media-wrapper" style="background-image: url({{ . | relURL }})"></div>
                    {{end }}

                    <div class="content">
                        <h3><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></h3>
                        <p>{{ .Summary }}</p>
                        <a class="btn btn-transparent" href="{{ .Permalink | relURL }}">{{ i18n "readMore" }}</a>
                    </div>
                </div>
            </article>
            {{"<!-- /single blog post -->" | safeHTML}}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
