{{- $content := . -}}
{{- $content = replaceRE "<p>" "<p class=\"pb-5 font-light lg:pb-6\">" $content -}}
{{- $content = replaceRE "<h2" "<h2 class=\"mb-4 text-3xl font-medium lg:text-5xl\"" $content -}}
{{- $content = replaceRE "<h3" "<h3 class=\"mb-6 mt-[48px] text-base font-medium lg:mb-9 lg:text-4xl\"" $content -}}
{{- $content = replaceRE "<h4" "<h4 class=\"mb-4 text-lg font-medium lg:text-2xl\"" $content -}}
{{- $content = replaceRE "<a" "<a class=\"underline\"" $content -}}
{{- $content | safeHTML -}}
