{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | relURL }}");'>
    <div class="block">
        <p>
          <a href="/" title="FikaWorks">
            <img src="{{ "/images/logo.png" | absURL }}" alt="FikaWorks" style="margin: 2em; max-width: 100%;" />
          </a>
        </p>
       {{with .Site.Params.banner.heading}} <h1>{{ . }}</h1>{{ end }}
       {{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL }}" class="btn btn-transparent">{{ .Site.Params.banner.btnText }}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
