{{- define "main" }}
  <div class="relative w-full pb-6 pt-9 lg:py-14">
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-20"
    >
      <div class="col-span-full lg:col-start-3 lg:col-end-11">
        <div
          class="pt-3 text-center text-base font-light lg:pt-6 lg:text-3xl py-6 lg:py-14"
        >
          <div class="pb-5 font-light lg:pb-6 py-6 mt-10 lg:py-14">
            {{ partial "helpers/enhanced-content-page.html" .Content }}
          </div>
        </div>
        <div class="pt-4 lg:pt-6 text-center">
          <a href="/contact"
            ><div
              class="group inline-block lg:w-max w-full cursor-pointer hover:bg-fika-hover-purple bg-black active:bg-fika-purple cursor-pointer text-white rounded-[40px]"
            >
              <div
                class="font-medium text-center flex items-center justify-between py-5 px-9 lg:py-6 lg:px-10 text-base lg:text-xl gap-3"
              >
                Discover our approach<svg
                  viewBox="0 0 16 16"
                  fill="none"
                  class="w-4 h-4 lg:w-5 lg:h-5 flex-shrink-0 flex-grow-0"
                >
                  <path
                    d="M12.667 9.333 8 14m0 0L3.333 9.333M8 14V2"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div></div
          ></a>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-20"
    >
      <div class="col-span-full lg:col-start-3 lg:col-end-8 py-6 lg:py-14">
        <div
          class="text-center text-base font-light lg:text-3xl bg-fika-soft-green"
        >
          <div class="px-16 py-14 font-light">
            <h3 class="text-2xl font-medium lg:text-4xl">
              1. Discover Together
            </h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                We start by listening. Through collaborative workshops, we
                uncover your business goals, technology landscape, and
                operational challenges. This alignment ensures we’re solving the
                problems that matter most.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-20"
    >
      <div class="col-span-full lg:col-start-6 lg:col-end-11 py-6 lg:py-14">
        <div
          class="text-center text-base font-light lg:text-3xl bg-fika-soft-yellow"
        >
          <div class="px-16 py-14 font-light">
            <h3 class="text-2xl font-medium lg:text-4xl">
              2. Design with Purpose
            </h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                Next, we translate insights into a clear, actionable roadmap.
                Our experts co-create architecture blueprints and migration
                strategies that blend modern cloud-native practices with your
                unique business needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-20"
    >
      <div class="col-span-full lg:col-start-3 lg:col-end-8 py-6 lg:py-14">
        <div
          class="text-center text-base font-light lg:text-3xl bg-fika-soft-pink"
        >
          <div class="px-16 py-14 font-light">
            <h3 class="text-2xl font-medium lg:text-4xl">
              3. Build for Impact
            </h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                With the plan in place, we implement with precision. By
                embedding automation, security, and scalability into every step,
                we help you accelerate adoption, reduce risks, and unlock the
                full potential of your platform.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-20"
    >
      <div class="col-span-full lg:col-start-6 lg:col-end-11 py-6 lg:py-14">
        <div
          class="text-center text-base font-light lg:text-3xl bg-fika-soft-blue"
        >
          <div class="px-16 py-14 font-light">
            <h3 class="text-2xl font-medium lg:text-4xl">
              4. Empower for the Future
            </h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                Finally, we ensure your teams are ready to own and evolve the
                solution. Through knowledge transfer, training, and optional
                ongoing support, we leave behind more than technology—we leave
                behind capability and confidence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-20"
    >
      <div class="col-span-full lg:col-start-3 lg:col-end-11">
        <div
          class="pt-3 text-center text-base font-light lg:pt-6 lg:text-2xl py-6 lg:py-14"
        >
          <h3 class="text-3xl font-medium lg:text-5xl">
            Our Value Proposition
          </h3>
          <div class="pb-5 font-light lg:pb-6 py-6 lg:py-14">
            <p class="pb-5 font-light lg:pb-6">
              At FikaWorks, we combine deep technical expertise with the
              strength of a collaborative community to deliver solutions that
              truly make an impact. Every engagement is supported by specialized
              professionals who are committed not only to technical excellence
              but also to your long-term success.
            </p>
            <p class="pb-5 font-light lg:pb-6">
              We design and deliver <strong>modular</strong>,
              <strong>enterprise-grade cloud solutions</strong> that integrate
              seamlessly with major providers such as Azure, AWS, and Google
              Cloud as well as Sovereign Neo-Cloud.
            </p>
            <p>
              By applying modern cloud-native engineering practices, we help
              businesses <strong>scale efficiently</strong>,
              <strong>operate securely</strong>, and
              <strong>innovate faster</strong>—turning complex challenges into
              sustainable competitive advantage.
            </p>
          </div>
        </div>
        <div class="pt-4 lg:pt-6 text-center">
          <a href="/contact"
            ><div
              class="group inline-block lg:w-max w-full cursor-pointer hover:bg-fika-hover-purple bg-black active:bg-fika-purple cursor-pointer text-white rounded-[40px]"
            >
              <div
                class="font-medium text-center flex items-center justify-between py-5 px-9 lg:py-6 lg:px-10 text-base lg:text-xl gap-3"
              >
                Discover our offering<svg
                  viewBox="0 0 16 16"
                  fill="none"
                  class="w-4 h-4 lg:w-5 lg:h-5 flex-shrink-0 flex-grow-0"
                >
                  <path
                    d="M12.667 9.333 8 14m0 0L3.333 9.333M8 14V2"
                    stroke="#fff"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div></div
          ></a>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 relative lg:gap-10 gap-6 mt-20 bg-fika-soft-green"
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-8">
        <div
          class="pt-3 text-base font-light lg:pt-6 lg:text-3xl py-6 lg:py-14"
        >
          <div class="pb-5 font-light lg:pb-6 py-6 mt-10 lg:py-14">
            <h3 class="text-2xl font-medium lg:text-4xl">
              Platform Go-Live Enablement Service
            </h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                Ensure a smooth and confident transition to production with
                <strong>FikaWorks’ Go-Live Enablement Service</strong>. Our
                consultants provide hands-on guidance to help architect and
                validate your Kubernetes and Cloud-Native platform deployment.
                We work alongside your teams to confirm operational readiness,
                align with best practices, and reduce risk during critical
                <strong>go-live</strong>
                events. From pre-launch checklists and deployment reviews to
                real-time advisory support at the
                “<strong>flip-the-switch</strong>” moment, we help you achieve a
                successful launch and establish a strong foundation for
                long-term platform success.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 relative lg:gap-10 gap-6 bg-fika-soft-yellow"
    >
      <div class="col-span-full lg:col-start-3 lg:col-end-9">
        <div
          class="pt-3 text-base font-light lg:pt-6 lg:text-3xl py-6 lg:py-14"
        >
          <div class="pb-5 font-light lg:pb-6 py-6 mt-10 lg:py-14">
            <h3 class="text-2xl font-medium lg:text-4xl">Discovery Workshop</h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                Lay the foundation for a successful transformation with the
                <strong>FikaWorks Discovery Workshop</strong>. In this
                collaborative, <strong>workshop-style engagement</strong>, our
                consultants work closely with your stakeholders to uncover
                business objectives, technical requirements, and operational
                challenges. Together, we define a clear strategy and translate
                it into actionable next steps, aligning both tactical activities
                and long-term goals. The outcome is a formalized strategy and
                roadmap that balances innovation with practicality—equipping
                your organization with the clarity, alignment, and confidence
                needed to move forward.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 relative lg:gap-10 gap-6 bg-fika-soft-blue"
    >
      <div class="col-span-full lg:col-start-4 lg:col-end-10">
        <div
          class="pt-3 text-base font-light lg:pt-6 lg:text-3xl py-6 lg:py-14"
        >
          <div class="pb-5 font-light lg:pb-6 py-6 mt-10 lg:py-14">
            <h3 class="text-2xl font-medium lg:text-4xl">
              Platform Readiness Service
            </h3>
            <div class="pt-3 text-base font-light lg:pt-6 lg:text-2xl">
              <p class="font-light">
                Accelerate your journey to a production-ready platform with
                <strong>FikaWorks’ Readiness Service</strong>. We deliver
                <strong>expert consulting engagements</strong> designed to
                assess, validate, and optimize your Kubernetes and Cloud-Native
                environment. Through in-depth <strong>architectural</strong>,
                <strong>platform</strong>, and
                <strong>security reviews</strong>, our experts identify gaps,
                recommend improvements, and provide actionable guidance to
                ensure your platform is robust, scalable, and future-proof. By
                leveraging best practices and proven implementation patterns, we
                help organizations maximize the value of their investments and
                prepare confidently for enterprise adoption.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "cta.html" . }}
  </div>
{{- end }}
