{{- define "main" }}
  <div class="pt-28 lg:pt-36 pb-7 lg:pb-24">
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 "
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-8">
        <h1 class="text-3xl font-medium lg:text-7xl">Co. for consultancy</h1>
      </div>
      <div class="col-span-full lg:col-start-8 lg:col-end-13">
        <div class="text-lg font-light lg:text-2xl">
          <p class="pb-5 font-light lg:pb-6">
            <a href="http://Fika.works">Fika.works</a> specializes in
            Cloud Native Consultancy. Our members are hands-on engineers with
            deep expertise across a range of domains.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    data-blok-c='{"name":"service_teaser","space":"191941","uid":"592786f0-016d-4d6c-84a9-b82392dd5fb3","id":"249474277"}'
    data-blok-uid="249474277-592786f0-016d-4d6c-84a9-b82392dd5fb3"
    class="bg-white lg:py-14 py-6"
  >
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 "
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-12">
        <div class="grid grid-cols-2 gap-x-10 gap-y-14">
          <div class="col-span-full lg:col-span-1">
            <div class="h-full ">
              <div
                class="h-4 lg:h-[18px] w-full border-b-[16px] border-r-[16px] lg:border-b-[18px] lg:border-r-[18px] border-r-transparent border-b-fika-soft-green"
              ></div>
              <div
                class="px-5 lg:px-8 pb-6 lg:pb-8 h-full flex flex-col justify-between bg-fika-soft-green"
              >
                <svg
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-[68px] h-[68px] lg:w-20 lg:h-20 flex-shrink-0 flex-grow-0"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.536 6.93C5.279 4.99 7.16 3.125 10 3.125c3.06 0 5.627 2.191 6.181 5.679.796.119 1.636.42 2.328.95.868.663 1.491 1.678 1.491 3.059 0 1.354-.512 2.4-1.383 3.094-.85.677-1.98.968-3.148.968H5.313c-2.866 0-5.313-2.021-5.313-5 0-1.51.58-2.713 1.512-3.563.823-.75 1.893-1.204 3.024-1.382ZM10 4.375c-2.362 0-3.895 1.642-4.402 3.307a.625.625 0 0 1-.536.44c-1.067.107-2.025.491-2.707 1.113-.67.61-1.105 1.478-1.105 2.64 0 2.178 1.771 3.75 4.063 3.75h10.156c.98 0 1.804-.245 2.37-.696.544-.434.911-1.105.911-2.117 0-.956-.412-1.616-1-2.065-.607-.465-1.416-.71-2.158-.748a.625.625 0 0 1-.589-.562C14.684 6.224 12.496 4.375 10 4.375Z"
                    fill="#B1FFC7"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.785 7.647a.625.625 0 0 1 .076.88l-4.211 5a.625.625 0 0 1-.942.017l-1.805-2a.625.625 0 1 1 .928-.838l1.325 1.468 3.749-4.452a.625.625 0 0 1 .88-.075Z"
                    fill="#B1FFC7"
                  ></path>
                </svg>
                <div class="my-6 lg:mt-11 lg:mb-9">
                  <span class="text-xl font-medium lg:text-3xl"
                    >Cloud native consultancy</span
                  >
                  <p
                    class="mt-2 text-base font-light text-gray-800 lg:mt-4 lg:text-lg"
                  >
                    Individual engineers or teams that can deliver end-to-end
                    projects.
                  </p>
                </div>
                <a href="/services/cloud-native-consultancy"
                  ><div
                    class="group inline-block lg:w-max w-full cursor-pointer text-black hover:text-fika-hover-purple active:text-fika-purple rounded-[40px]"
                  >
                    <div
                      class="font-medium text-center flex items-center text-xl gap-3 gap-4"
                    >
                      <svg
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6 lg:w-8 lg:h-8 flex-shrink-0 flex-grow-0"
                      >
                        <rect
                          width="32"
                          height="32"
                          rx="16"
                          fill="currentColor"
                        ></rect>
                        <path
                          d="m12.5 9 8 7.5-8 7.5"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                      >Read more
                    </div>
                  </div></a
                >
              </div>
            </div>
          </div>
          <div class="col-span-full lg:col-span-1">
            <div class="h-full ">
              <div
                class="h-4 lg:h-[18px] w-full border-b-[16px] border-r-[16px] lg:border-b-[18px] lg:border-r-[18px] border-r-transparent border-b-fika-soft-yellow"
              ></div>
              <div
                class="px-5 lg:px-8 pb-6 lg:pb-8 h-full flex flex-col justify-between bg-fika-soft-yellow"
              >
                <svg
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-[68px] h-[68px] lg:w-20 lg:h-20 flex-shrink-0 flex-grow-0"
                >
                  <path
                    d="M6.25 18.75H5v-1.875H2.5v1.875H1.25v-1.875a1.252 1.252 0 0 1 1.25-1.25H5a1.252 1.252 0 0 1 1.25 1.25v1.875ZM18.75 18.75H17.5v-1.875H15v1.875h-1.25v-1.875a1.252 1.252 0 0 1 1.25-1.25h2.5a1.252 1.252 0 0 1 1.25 1.25v1.875ZM12.5 18.75h-1.25v-1.875h-2.5v1.875H7.5v-1.875a1.252 1.252 0 0 1 1.25-1.25h2.5a1.252 1.252 0 0 1 1.25 1.25v1.875ZM10 15a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM3.75 15a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM16.25 15a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM13.125 12.5a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM6.875 12.5a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM16.25 8.75H3.75A1.251 1.251 0 0 1 2.5 7.5v-5a1.251 1.251 0 0 1 1.25-1.25h12.5A1.252 1.252 0 0 1 17.5 2.5v5a1.252 1.252 0 0 1-1.25 1.25ZM3.75 2.5v5h12.5v-5H3.75Z"
                    fill="#FFFACC"
                  ></path>
                </svg>
                <div class="my-6 lg:mt-11 lg:mb-9">
                  <span class="text-xl font-medium lg:text-3xl">Trainings</span>
                  <p
                    class="mt-2 text-base font-light text-gray-800 lg:mt-4 lg:text-lg"
                  >
                    All our trainers are also experienced consultants and
                    practitioners.
                  </p>
                </div>
                <a href="/services/trainings"
                  ><div
                    class="group inline-block lg:w-max w-full cursor-pointer text-black hover:text-fika-hover-purple active:text-fika-purple rounded-[40px]"
                  >
                    <div
                      class="font-medium text-center flex items-center text-xl gap-3 gap-4"
                    >
                      <svg
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6 lg:w-8 lg:h-8 flex-shrink-0 flex-grow-0"
                      >
                        <rect
                          width="32"
                          height="32"
                          rx="16"
                          fill="currentColor"
                        ></rect>
                        <path
                          d="m12.5 9 8 7.5-8 7.5"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                      >Read more
                    </div>
                  </div></a
                >
              </div>
            </div>
          </div>
          <div class="col-span-full lg:col-span-1">
            <div class="h-full ">
              <div
                class="h-4 lg:h-[18px] w-full border-b-[16px] border-r-[16px] lg:border-b-[18px] lg:border-r-[18px] border-r-transparent border-b-fika-soft-blue"
              ></div>
              <div
                class="px-5 lg:px-8 pb-6 lg:pb-8 h-full flex flex-col justify-between bg-fika-soft-blue"
              >
                <svg
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-[68px] h-[68px] lg:w-20 lg:h-20 flex-shrink-0 flex-grow-0"
                >
                  <path
                    d="m15 6.25-.884.884 2.241 2.241h-8.92A3.134 3.134 0 0 0 5 6.938V1.25H3.75v5.688a3.125 3.125 0 0 0 0 6.124v5.688H5v-5.688a3.134 3.134 0 0 0 2.437-2.437h8.92l-2.241 2.241.884.884L18.75 10 15 6.25ZM4.375 11.875a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75Z"
                    fill="#D9E3FF"
                  ></path>
                </svg>
                <div class="my-6 lg:mt-11 lg:mb-9">
                  <span class="text-xl font-medium lg:text-3xl"
                    >Open source advocacy</span
                  >
                  <p
                    class="mt-2 text-base font-light text-gray-800 lg:mt-4 lg:text-lg"
                  >
                    We make your technology easy to use and understand.
                  </p>
                </div>
                <a href="/services/open-source-advocacy"
                  ><div
                    class="group inline-block lg:w-max w-full cursor-pointer text-black hover:text-fika-hover-purple active:text-fika-purple rounded-[40px]"
                  >
                    <div
                      class="font-medium text-center flex items-center text-xl gap-3 gap-4"
                    >
                      <svg
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6 lg:w-8 lg:h-8 flex-shrink-0 flex-grow-0"
                      >
                        <rect
                          width="32"
                          height="32"
                          rx="16"
                          fill="currentColor"
                        ></rect>
                        <path
                          d="m12.5 9 8 7.5-8 7.5"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                      >Read more
                    </div>
                  </div></a
                >
              </div>
            </div>
          </div>
          <div class="col-span-full lg:col-span-1">
            <div class="h-full ">
              <div
                class="h-4 lg:h-[18px] w-full border-b-[16px] border-r-[16px] lg:border-b-[18px] lg:border-r-[18px] border-r-transparent border-b-fika-offWhite"
              ></div>
              <div
                class="px-5 lg:px-8 pb-6 lg:pb-8 h-full flex flex-col justify-between bg-fika-offWhite"
              >
                <svg
                  viewBox="0 0 80 80"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-[68px] h-[68px] lg:w-20 lg:h-20 flex-shrink-0 flex-grow-0"
                >
                  <path
                    d="M57.5 57.5V65H21.25a11.25 11.25 0 0 1 0-22.5h1.25v-5h-1.25a16.25 16.25 0 0 0 0 32.5H57.5v7.5h20v-20h-20Zm15 15h-10v-10h10v10Z"
                    fill="#D0CBF2"
                  ></path>
                  <path
                    d="M52.5 55h-5v-7.5h-15V55h-5v-7.5a5.006 5.006 0 0 1 5-5h15a5.006 5.006 0 0 1 5 5V55ZM40 40a7.5 7.5 0 1 1 7.5-7.5A7.509 7.509 0 0 1 40 40Zm0-10a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                    fill="#D0CBF2"
                  ></path>
                  <path
                    d="M58.75 10H22.5V2.5h-20v20h20V15h36.25a11.25 11.25 0 0 1 0 22.5H57.5v5h1.25a16.25 16.25 0 1 0 0-32.5ZM17.5 17.5h-10v-10h10v10Z"
                    fill="#D0CBF2"
                  ></path>
                </svg>
                <div class="my-6 lg:mt-11 lg:mb-9">
                  <span class="text-xl font-medium lg:text-3xl"
                    >I need other help</span
                  >
                  <p
                    class="mt-2 text-base font-light text-gray-800 lg:mt-4 lg:text-lg"
                  >
                    Not on this list? Fika.works has a room that can facilitate
                    your needs. Please let us know how we can assist you!
                  </p>
                </div>
                <a href="/contact"
                  ><div
                    class="group inline-block lg:w-max w-full cursor-pointer text-black hover:text-fika-hover-purple active:text-fika-purple rounded-[40px]"
                  >
                    <div
                      class="font-medium text-center flex items-center text-xl gap-3 gap-4"
                    >
                      <svg
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6 lg:w-8 lg:h-8 flex-shrink-0 flex-grow-0"
                      >
                        <rect
                          width="32"
                          height="32"
                          rx="16"
                          fill="currentColor"
                        ></rect>
                        <path
                          d="m12.5 9 8 7.5-8 7.5"
                          stroke="#fff"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path></svg
                      >Go to contact page
                    </div>
                  </div></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "cta.html" . }}
{{- end }}
