{{- define "main" }}
  <div
    class="bg-white dark:bg-gray-900 dark:text-white pt-28 lg:pt-36 pb-16 lg:pb-24"
  >
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6"
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-8">
        <h1 class="text-3xl font-medium lg:text-7xl">{{ .Title }}</h1>
      </div>
      {{ if .Params.subtitle }}
        <div class="col-span-full lg:col-start-8 lg:col-end-13">
          <div class="text-lg font-light lg:text-2xl dark:text-gray-200">
            <p class="pb-5 font-light lg:pb-6">
              {{ .Params.subtitle }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 mt-10 lg:mt-16"
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-10">
        <div class="font-light text-lg lg:text-2xl">
          {{- partial "helpers/enhanced-content-page.html" .Content }}
        </div>
      </div>
    </div>
  </div>
  {{- partial "cta.html" . }}
{{- end }}
