body {
  background-color: #fff;
  color: #242930;
  font-size: 1.3em;
}

.navbar-brand.logo img {
  height: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242930;
}

.content {
  color: #242930;
}

.post-single-content a {
  color: #54b5b5;
}

.post-single-content a:hover {
  color: #ffc600;
}

.post-single-content pre {
  font-size: 0.6em;
  margin: 1.5em;
  padding: 1.5em;
}
