.post-single-content {
  color: #fff;
}

h1 {
  color: white;
}

.post-single-content a {
  color: #FFC600;
}

.post-single-content h2,
.post-single-content h3,
.post-single-content h4,
.post-single-content h5,
.post-single-content h6 {
  margin-top: 2rem;
}

.post-single-content pre {
  margin: 10px;
  padding: 10px;
}

.call-to-action {
  background-color: #fff;
}

.all-events {
  margin-top: 50px;
}

a:hover {
  color: #FFC600;
}
.service .block .icon-box {
	border-left:2px solid #CC830E;
	border-right:2px solid #CC830E;
}
.service .block .icon-box:before {
  border-top: 2px solid #CC830E;
  border-right: 2px solid #CC830E;
}

.service .block .icon-box:after {
  border-bottom: 2px solid #CC830E;
  border-left: 2px solid #CC830E;
}

.service .tf-tools {
  color: #54B5B5;
}

.service .tf-strategy {
  color: #9E007E
}

.service .tf-anchor2 {
  color: #FFC600
}

.call-to-action .btn-main {
  margin-top: 20px;
  background-color: #0D2A72
}

a:focus.logo, a:hover.logo {
  margin-top: 10px;
}

a:hover {
  margin: 0;
  color: black;
}

.call-to-action .btn-main{
       color: white;
       font-weight:bold;
}
/*=================================================================
  Events sections
==================================================================*/
.list-group-item h5 {
       color: black;
}

.list-group-item time {
       color: black;
}

.all-events .btn-main{
       background-color: #FFC600;
       color: black;
       font-weight:bold;
}

/*=================================================================
  Posts sections
==================================================================*/
.all-post .btn-main {
       background-color: #9E007E;
       color: white;
       font-weight:bold;

}

