.post-single-content {
  color: #fff;
}

h1 {
  color: white;
}

.post-single-content h2,
.post-single-content h3,
.post-single-content h4,
.post-single-content h5,
.post-single-content h6 {
  margin-top: 2rem;
}

.post-single-content pre {
  margin: 10px;
  padding: 10px;
}

.call-to-action {
  background-color: #fff;
}
