{{ define "main" }}
  <div class="pt-28 lg:pt-36 pb-7 lg:pb-24 bg-white">
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 "
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-8">
        <h1 class="text-3xl font-medium lg:text-7xl">{{ .Title }}</h1>
      </div>
      <div class="col-span-full lg:col-start-8 lg:col-end-13">
        <div class="text-lg font-light lg:text-2xl">
          <p class="pb-5 font-light lg:pb-6">
            {{ .Content }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pb-6 lg:pb-14">
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 "
    >
      {{ range .Pages }}
        <div class="col-span-full lg:col-span-4">
          <div>
            <a href="{{ .RelPermalink }}"
              ><div class="relative mt-6 lg:mt-0">
                <div class="relative h-full w-full">
                  <div
                    class="h-64 w-full overflow-hidden rounded-xl md:h-[314px]"
                  >
                    <div class="absolute top-0 right-0 z-30 w-[75%]">
                      <svg
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 315 42"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M303 29.5c6.615 0 11.979 5.352 12 11.961V0H.478a12 12 0 0 1 8.984 4.045l18.956 21.41a12 12 0 0 0 8.985 4.045H303Z"
                          fill="#fff"
                        ></path>
                      </svg>
                    </div>
                    <div
                      class="relative min-h-[120px] transform transition duration-300 ease-linear align-middle undefined"
                      style="height: 100%;"
                    >
                      {{ $img := .Resources.Get .Params.image }}
                      {{ if $img }}
                        {{ $tiny := $img.Resize "1080x webp" }}
                        {{ $small := $img.Resize "1200x webp" }}
                        {{ $medium := $img.Resize "1600x webp" }}
                        {{ $large := $img.Resize "2700x webp" }}
                        <img
                          alt="{{ .Title }}"
                          src="{{ $medium.RelPermalink }}"
                          style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
                          srcset="
                            {{ $tiny.RelPermalink }}  640w,
                            {{ $small.RelPermalink }} 1080w,
                            {{ $medium.RelPermalink }} 1200w,
                            {{ $large.RelPermalink }} 1600w
                          "
                          sizes="100vw"
                        />
                      {{ end }}
                    </div>
                    <div
                      class="absolute bottom-4 left-4 flex flex-wrap-reverse gap-x-3 lg:bottom-5 lg:left-5"
                    >
                      <div class="mt-3">
                        {{ range .Params.tags }}
                          <span
                            class="inline-block rounded bg-fika-dust py-[6px] px-3"
                            ><span
                              class="flex items-center text-xs font-normal capitalize"
                              >• {{ . }}</span
                            ></span
                          >
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-7">
                  <div class="flex gap-5 font-medium">
                    <span class="text-gray-800">{{ .Params.author }}</span
                    ><span class="text-gray-600">
                      {{ .ReadingTime }} minutes reading</span
                    >
                  </div>
                  <span
                    class="mt-2 text-2xl font-medium hover:underline hover:underline-offset-8 leading-10 hover:decoration-fika-purple"
                    >{{ .Title }}</span
                  >
                  <div class="mt-3 lg:hidden">
                    <p class="text-lg font-medium underline underline-offset-2">
                      Read more
                    </p>
                  </div>
                </div>
              </div></a
            >
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
