{{- define "main" }}
  <div class="h-full w-full md:block">
    {{- $img := .Resources.Get $.Params.image }}
    {{- if $img }}
      <div
        class="relative min-h-[250px] md:h-[400px] lg:h-[580px] transform transition duration-300 ease-linear align-middle"
      >
        {{- $tiny := $img.Resize "640x webp" }}
        {{- $small := $img.Resize "1024x webp" }}
        {{- $medium := $img.Resize "1600x webp" }}
        {{- $large := $img.Resize "2000x webp" }}
        {{- $xlarge := $img.Resize "3000x webp" }}
        {{- $xxlarge := $img.Resize "4000x webp" }}
        <img
          alt="{{ .Title }}"
          src="{{ $medium.RelPermalink }}"
          class="absolute block mx-auto my-auto min-w-full max-w-full min-h-full max-h-full object-cover"
          srcset="
            {{- $tiny.RelPermalink }}  640w,
            {{- $small.RelPermalink }} 1024w,
            {{- $medium.RelPermalink }} 1600w,
            {{- $large.RelPermalink }} 2000w,
            {{- $xlarge.RelPermalink }} 3000w,
            {{- $xxlarge.RelPermalink }} 4000w
          "
          sizes="100vw"
        />
        <div class="absolute inset-0 hidden dark:block bg-black/20"></div>
      </div>
    {{- end }}
  </div>
  <div
    class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 pb-16 lg:pb-24"
  >
    <div class="col-span-5 pt-7 lg:col-span-3 lg:col-start-2 lg:pt-[120px]">
      <div class="top-10 flex flex-row gap-5 lg:sticky lg:flex-col lg:gap-0">
        <p
          class="text-sm font-medium text-gray-800 dark:text-gray-300 md:text-base md:font-light lg:mb-5"
        >
          Published on <br />
          {{- $dateHuman := .Date | time.Format ":date_long" }}
          {{- $dateHuman }}
        </p>
        <p
          class="text-sm text-gray-800 dark:text-gray-300 md:text-base lg:mb-5"
        >
          Written by <br />{{ .Params.author }}
        </p>
        <div class="hidden flex-col md:mt-7 lg:flex">
          <p class="mb-5 dark:text-gray-200">Share this post</p>
          {{ partial "share-buttons.html" . }}
        </div>
      </div>
    </div>
    <div
      class="col-span-full lg:col-span-7 lg:col-start-5 lg:col-end-11 lg:pt-16"
    >
      <div class="flex flex-wrap gap-3">
        {{- range .Params.tags }}
          <div
            class="inline-block rounded bg-fika-dust dark:bg-gray-700 py-[6px] px-3"
          >
            <span
              class="flex items-center text-xs font-normal capitalize dark:text-gray-200"
              >•
              {{ . }}
            </span>
          </div>
        {{- end }}
      </div>
      <h1
        class="mb-8 mt-12 text-2xl font-medium leading-tight lg:text-5xl dark:text-white"
      >
        {{ .Title }}
      </h1>
      <div class="text-lg font-light dark:text-gray-200">
        {{ partial "helpers/enhanced-content.html" .Content }}
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 lg:hidden"
  >
    <div class="col-span-full mt-10 mb-16 lg:mb-24 flex flex-col">
      <p class="mb-6 dark:text-gray-200">Share this post</p>
      {{ partial "share-buttons.html" . }}
    </div>
  </div>
{{- end }}
