{{- define "main" }}
  {{- $img := .Resources.GetMatch $.Params.image }}
  {{- if $img }}
    <div class="relative mb-14">
      <div class="hidden md:block">
        {{- $tiny := $img.Resize "640x webp" }}
        {{- $small := $img.Resize "1024x webp" }}
        {{- $medium := $img.Resize "1600x webp" }}
        {{- $large := $img.Resize "2000x webp" }}
        <img
          alt="{{ .Title }}"
          src="{{ $medium.RelPermalink }}"
          srcset="
            {{- $tiny.RelPermalink }}  640w,
            {{- $small.RelPermalink }} 1024w,
            {{- $medium.RelPermalink }} 1600w,
            {{- $large.RelPermalink }} 2000w
          "
          width="100%"
          height="100%"
          sizes="100vw"
        />
      </div>
    </div>
  {{- end }}
  <div class="bg-white py-6 lg:py-14">
    <div id="" class="invisible relative -top-20 block"></div>
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 "
    >
      <div class="col-span-full lg:col-start-2 lg:col-end-10">
        <div class="text-3xl font-medium lg:text-5xl">{{ .Title }}</div>
        <div class="mt-6 lg:mt-8">
          <div class="font-light text-lg lg:text-2xl">
            {{- partial "helpers/enhanced-content-page.html" .Content }}
          </div>
          <div class="text-center mt-[3em] mb-[6em]">
            <a href="https://fikaworksday.eventbrite.nl" target="_blank">
              <div
                class="group inline-block lg:w-max w-full cursor-pointer hover:bg-fika-hover-purple bg-black active:bg-fika-purple cursor-pointer text-white rounded-[40px]" >
                <div
                  class="font-medium text-center flex items-center justify-between py-5 px-9 lg:py-6 lg:px-10 text-base lg:text-xl gap-3"
                >
                Sign-up for FikaWorks Days 2025<svg
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 lg:w-5 lg:h-5 flex-shrink-0 flex-grow-0"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.293 3.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L14.586 11H3a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="mt-[4em] lg:mt-[6em]">
          <h2 class="text-xl font-medium lg:text-3xl">Informations</h2>
          <table class="table-auto w-full align-top mt-[3em] text-[16px]!">
            <tr>
              <th class="text-left">Date</th>
              <td>Friday 10th of October 2025</td>
            </tr>
            <tr>
              <th class="text-left">Location</th>
              <td>
                <a
                  href="https://www.google.com/maps/dir/?api=1&amp;destination=Startup+Village,+Science+Park+608,+1098+XH+Amsterdam+Netherlands"
                  target="_blank"
                  class="w-full md:w-auto"
                  >
                Startup Village<br />
                Science Park 608, 1098 XH Amsterdam, Netherlands</a>
              </td>
            </tr>
            <tr>
              <th class="text-left">Target Audience</th>
              <td>Freelancers, Independent Consultants, Entrepreneurs, Tech enthusiasts</td>
            </tr>
            <tr>
              <th class="text-left">Topics </th>
              <td>AI & Cloud Native, Business, Personal Development</td>
            </tr>
            <tr>
              <th class="text-left">Topics </th>
              <td>AI, Business, Cloud Native, Personal Development</td>
            </tr>
            <tr>
              <th class="text-left">Admission</th>
              <td>Free Community Event (Registration Required/Donations welcomed)</td>
            </tr>
            <tr>
              <th class="text-left">Expected Attendance</th>
              <td>100 (active) participants</td>
            </tr>
          </table>
        </div>
        <div class="mt-[4em] lg:mt-[6em]">
          <h2 class="text-xl font-medium lg:text-3xl">Agenda</h2>
          <table class="table-auto w-full align-top mt-[3em]">
            <thead>
              <tr>
                <th>Time</th>
                <th colspan="2">Session / Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td nowrap>09:00 - 09:30</td>
                <td colspan="2">
                  <span class="font-bold">Welcome & Registration</span><br />
                  <span class="italic text-sm">Coffee and Croissants   ☕ 🥐  </span>
                </td>
              </tr>
              <tr>
                <td nowrap>09:30 - 09:45</td>
                <td colspan="2" class="py-4">
                  <span class="font-bold">Welcome (day schedule overview)</span><br />
                  <span class="italic text-sm">Startup Village - Intro and vision</span>
                </td>
              </tr>
              <tr>
                <td>09:45 - 10:15</td>
                <td colspan="2">
                  <span class="font-bold">Introduction to FikaWorks Cooperative</span><br />
                  <span class="italic text-sm">Mission and way of working as a collective of independent
                      Cloud Native consultants </span><br />
                      <a href="https://www.linkedin.com/in/sudeshjethoe/" target="_blank"> 
                      Sudesh Jethoe 
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                      (FikaWorks Board Member)
                    </a>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-center font-bold text-sm w-1/2">
                  Room 1 (Day)
                </td>
                <td class="text-center font-bold text-sm w-1/2">
                  Room 2 (Night)
                </td>
              </tr>
              <tr>
                <td>10:30 - 11:00</td>
                <td class="w-1/2">
                  <span class="font-bold">
                    Fighting wildfire and protecting communities with AI </span><br />
                    <a href="https://www.linkedin.com/in/giardiniandrea/" target="_blank"> 
                      Andrea Giardini 
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                    </a>
                    (Cloud Consultant @ Overstory/FikaWorks)
                  </span><br /><br/>
                  <span class="italic text-sm">As wildfires become increasingly devastating due to climate
                      change, leveraging technology for environmental protection is
                      crucial. This talk focuses on the infrastructure needed to
                      support AI-driven wildfire prevention systems using Kubernetes
                      and cloud-native technologies. We will discuss the challenges
                      of managing robust data pipelines for processing satellite
                      imagery and environmental data, emphasizing the importance of
                      GPU acceleration for AI. Additionally, we will explore
                      strategies for efficient storage solutions to handle large
                      datasets, ensuring scalability and performance. Attendees will
                      gain insights into the architectural considerations and
                      operational challenges of deploying an effective, resilient
                      wildfire monitoring and prevention infrastructure. Join us in
                      understanding how we can harness the power of technology to
                      protect our forests and mitigate the impact of wildfires on our
                      environment.</span>
                </td>
                <td rowspan="5" class="w-1/2">
                  <span class="font-bold">
                    Workshop: Code, Coach, Conquer: Level Up Your Facilitation Game! </span><br />
                    <a href="https://www.linkedin.com/in/neharatnakar/" target="_blank">Neha Lagoo Ratnakar 
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" /></a> 
                    (Trainer/Speaker/Author)
                  </span><br /><br/>
                  <span class="italic text-sm">This engaging workshop equips the audience with practical
                      techniques to deliver clearer, more impactful presentations and
                      training sessions in any setting. Participants will learn simple strategies
                      to break down complex concepts, engage their audience, and handle questions
                      with confidence, whether it's a regular work meeting, a demo to a
                      colleague, or a public or company workshop. Through interactive exercises,
                      they will gain a framework for structuring content and tips to keep learners engaged.</span>
                </td>
              </tr>
              <tr>
                <td>11:00 - 11:15</td>
                <td>Coffee Break ☕ </td>
              </tr>
              <tr>
                <td>11:15 - 11:45</td>
                <td>
                  <span class="font-bold">Coordinating Image Distribution in the Age of AI</span><br />
                  <span class="italic text-sm">
                    <a href="https://www.linkedin.com/in/phillebaba/" target="_blank">Philip Laine
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                      (Founder @ Reflektion)
                    </a>
                  </span><br /><br/>
                  <span class="italic text-sm">The adoption of existing artifact distribution technologies like OCI is well underway in the AI space. However, today's AI workloads reveal pain points in infrastructure that was never built for such extreme demands. In this session, we will explore the main challenges faced by current distribution systems, including scalability, security, and evolving needs for AI model packaging and delivery. Finally, we will discuss potential future solutions that align infrastructure with the unique demands of AI.
                  </span>
                </td>
              </tr>
              <tr>
                <td>11:45 - 12:00</td>
                <td>Coffee Break ☕ </td>
              </tr>
              <tr>
                <td>12:00 - 12:30</td>
                <td>
                  <span class="font-bold">Automatic Provisioning of Bare Metal Edge Systems for AI Inference</span><br />
                  <span class="italic text-sm">
                    <a href="https://www.linkedin.com/in/william-rizzo/" target="_blank">William Rizzo
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                      (Strategy Lead CTO Office - Mirantis) & 
                    </a> 
                    <a href="https://www.linkedin.com/in/mauromorales/" target="_blank">Mauro Morales
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                      (Staff Engineer - Spectro Cloud)

                    </a>
                  </span><br /><br/>
                  <span class="italic text-sm">Running AI workloads at the edge demands both high performance and minimal operational overhead. In this session, we’ll demonstrate how to leverage Kubernetes alongside Metal3, k0s, and Kairos to automate and streamline the provisioning of bare metal systmes for AI worklodas at the edge. We will walk through the deployment patterns and process of using Metal3 for hardware lifecycle management, pairing it with k0s to deliver a secure, lightweight Kubernetes control plane, and orchestrating immutable edge node deployment 
                    </span>
                </td>
              </tr>
              <tr>
                <td>12:30 - 13:30</td>
                <td colspan="2">
                  <span class="font-bold">Lunch & Networking 🥗 </span><br />
                  <span class="italic text-sm">Catered lunch; please note diet/allergy requests during registration.</span>
                </td>
              </tr>
              <tr>
                <td>13:30 - 14:15</td>
                <td>
                  <span class="font-bold">How to Write a Technical Book and Sell Worldwide</span><br />
                  <span class="italic text-sm">
                    <a href="https://www.linkedin.com/in/lucaberton/" target="_blank">Luca Berton
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                      (Platform Engineering Lead/Freelancer/Author)
                    </a>
                  </span><br /><br/>
                  <span class="italic text-sm">Ever thought about writing a tech book but didn’t know where to start? In this session, I’ll walk you through my journey from engineer to six-time published author with Apress (Springer Nature), BPB, and Packt. You’ll learn how to pick a compelling topic, pitch to publishers, structure your manuscript, and scale your impact through global distribution channels. We’ll explore how writing accelerates your career, builds authority, and creates new income streams—especially for freelancers and consultants. Expect real-world advice, actionable frameworks, and behind-the-scenes insights from publishing success stories and missteps. Whether you're eyeing your first book or your fifth, you'll leave with clarity and motivation.</span>
                </td>
                <td>
                  <span class="font-bold">Working as a freelancer & wet DBA A.M.A. session</span><br />
                  <span class="italic text-sm">
                    <a href="https://www.linkedin.com/in/jenne-termeer-0140036/" target="_blank" class="inline-flex items-center gap-1">
                      Jenne Termeer
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                    </a>
                    </a>
                     (Watson Parker - Senior Partner)
                    </span><br /> <br/>
                    <span class="italic text-sm">
                    Have questions about freelancing in the tech world or the unique challenges of working under wet DBA? Join our AMA session with Jenne, a senior partner at a leading accountancy firm, who will answer all your questions.
                    </span></span>
                </td>
              </tr>
              <tr>
                <td>14:15 - 14:30</td>
                <td colspan="2">Coffee Break ☕</td>
              </tr>
              <tr>
                <td>14:30 - 16:15</td>
                <td>
                  Open Space / unconference <br/> We build the agenda together on the spot! 🧑‍🤝‍🧑📝🧠 <br/><br/>
                  Facilitator: <a href="https://www.linkedin.com/in/timothymamo/" target="_blank"> 
                      Tim Mamo 
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                      (FikaWorks Consultant | DevOps Days Amsterdam Organizer)
                    </a>
                </td>
                <td>
                  <span class="font-bold">Workshop: "Hands-on AI
                    workshop with MCP" (interactive technical workshop)</span><br />
                  <span class="italic text-sm">
                     <a href="https://www.linkedin.com/in/alexgiurgiu/" target="_blank"> Alex Giurgiu
                      <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                    </a>
                     & 
                    <a href="https://www.linkedin.com/in/valentinstoican/" target="_blank">
                     Valentin Stoican
          
                    <img src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000" alt="LinkedIn Icon" class="w-5 h-5 inline-block" />
                    </a>
                    <a
                    href="http://mcp-cloud.ai" target="blank">(mcp-cloud.ai</a>
                    - founders/FikaWorks Consultants)</span>
                  </span><br /><br/>
                  <span class="italic text-sm">"Hands-on AI workshop building an agentic workflow that interacts with multiple MCP servers with the goal of troubleshooting and fixing Kubernetes issues
                  </span>
                  </td>
              </tr>
              <tr>
                <td>16:15 - 16:30</td>
                <td colspan="2">Coffee Break ☕</td>
              </tr>
              <tr>
                <td>16:30 - 17:00</td>
                <td colspan="2">Closing Keynote</td>
              </tr>
              <tr>
                <td>17:00 - Late</td>
                <td colspan="2">
                  <span class="font-bold">Drinks and Food Reception (till late) 🍹 🍺  </span><br />
                  <span class="italic text-sm">Social gathering with drinks, beer, finger food, and snacks for networking and
                    community building at the pub next to the venue.</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center my-[6em]">
            <a href="https://fikaworksday.eventbrite.nl" target="_blank">
              <div
                class="group inline-block lg:w-max w-full cursor-pointer hover:bg-fika-hover-purple bg-black active:bg-fika-purple cursor-pointer text-white rounded-[40px]" >
                <div
                  class="font-medium text-center flex items-center justify-between py-5 px-9 lg:py-6 lg:px-10 text-base lg:text-xl gap-3"
                >
                Sign-up for FikaWorks Days 2025<svg
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 lg:w-5 lg:h-5 flex-shrink-0 flex-grow-0"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.293 3.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L14.586 11H3a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{- partial "cta.html" . }}
{{- end }}
