<section id="checkout-work" class="py-6 sm:p-6 bg-gradient-to-r from-yellow via-yellow-300 to-yellow-500">
    <div class="max-w-3xl mx-auto py-12 px-8 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between show-on-scroll">
        <div>
            <h2 class="lg:text-6xl text-4xl font-extrabold tracking-tight text-white lg:-ml-20">Check out our work</h2>
            <h4 class="text-base text-white">Open-source projects are available on our Github organization.</h4>
        </div>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow-lg ring-1 ring-white bg-white hover:bg-yellow hover:shadow-2xl">
                <a href="https://github.com/fikaworks" target="blank" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-yellow-500 hover:text-white">Github</a>
            </div>
        </div>
    </div>
</section>
