<section id="contact" class="py-20">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-6xl lg:-mr-10 font-extrabold tracking-tight lg:text-right text-center text-purple">Get in touch</h2>
        <p class="lg:text-right text-center">Find out how FikaWorks can benefit you!</p>
        <div class="lg:flex mt-10 lg:mt-5">
            <div class="w-full lg:w-1/2 lg:p-6 text-center lg:text-left lg:-mt-10">
                <h2 class="text-4xl font-extrabold tracking-tight lg:text-purple">Contact Details</h2>
                <p>Amsterdam, The Netherlands</p>
                <hr class="my-5" />
                <p>Email: info@fika.works</p>
                <p>Social media: <a href="https://twitter.com/FikaWorks" target="blank">@FikaWorks</a> | <a href="https://www.linkedin.com/company/fikaworks" target="blank">LinkedIn</a> | <a href="https://github.com/FikaWorks/" target="blank">Github</a></p>
            </div>
            <div class="w-full lg:w-1/2">
                <form action="#" class="bg-gray-100 rounded-md p-8">
                    <div class="mb-6">
                        <input type="text" id="name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Your name" required>
                    </div>
                    <div class="mb-6">
                        <input type="email" id="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Your email" required>
                    </div>
                    <div class="mb-6">
                        <input type="text" id="subject" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Subject" required>
                    </div>
                    <div class="mb-8">
                        <textarea rows="6" placeholder="Message" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="message" id="message"></textarea>
                    </div>
                    <button type="submit" class="mt-1 block p-4 w-full bg-purple text-white rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">Request Demo</button>
                </form>
            </div>
        </div>
    </div>
</section>
