<section class="container mx-auto py-20 sm:p-6 px-4">
    <h2 class="text-3xl mt-20 font-medium text-center">Get in touch</h2>
    <div class="lg:flex mt-20">
        <div class="w-full lg:w-1/2">
            <h2 class="text-md lg:text-2xl">Contact Details</h2>
            <p>Amsterdam, The Netherlands</p>
            <p>Email: info@fika.works</p>
        </div>
        <div class="w-full lg:w-1/2 lg:pl-24">
            <form action="#" class="bg-gray-100 shadow-sm rounded-md p-8">
                <div class="mb-6">
                    <input type="text" id="name" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" placeholder="Your name" required>
                </div>
                <div class="mb-6">
                    <input type="email" id="email" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" placeholder="Your email" required>
                </div>
                <div class="mb-6">
                    <input type="text" id="subject" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" placeholder="Subject" required>
                </div>
                <div class="mb-8">
                    <textarea rows="6" placeholder="Message" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" name="message" id="message"></textarea>
                </div>
                <button type="submit" class="py-3 px-12 bg-primary-500 hover:bg-indigo-600 mr-5 rounded-md text-white text-lg focus:outline-none w-full">Request Demo</button>
            </form>
        </div>
    </div>
</section>
