<section class="relative bg-white overflow-hidden min-w-screen min-h-screen flex items-center justify-center">
    <div class="py-12 relative z-10">
        <div class="max-w-6xl mx-auto py-12 px-8 sm:px-6 lg:py-16 lg:px-8 text-center text-white">
            <h2 class="text-3xl lg:text-4xl font-black mb-2 lg:mb-6"><mark class="bg-yellow py-3 px-4">We are the next wave of Cloud Native Consultants.</mark></h2>
            <h4 class="text-md lg:text-2xl"><mark class="bg-yellow py-2 px-3">Stay tuned for more information on our organization, our values and<br />what we bring to the table.</mark></h4>
        </div>
    </div>
    <div class="absolute inset-0">
        {{ if $.Site.Params.hero_banner }}
            {{ $img := resources.Get $.Site.Params.hero_banner }}
            {{ $img := $img | images.Filter (images.GaussianBlur 20) (images.Pixelate 8) (images.Colorize 70 20 100) }}
            {{ $small := $img.Resize "1200x q85 Box" }}
            <img class="min-w-full min-h-full object-cover" alt="FikaWorks, we are the next wave of Cloud Native Consultants" src="{{ $small.RelPermalink }}" >
        {{ end }}
    </div>
</section>
