<section class="relative bg-white overflow-hidden">
    <div class="py-12 relative z-10">
        <div class="max-w-6xl mx-auto py-12 px-8 sm:px-6 lg:py-16 lg:px-8 text-center">
            <h2 class="text-3xl lg:text-4xl font-bold mb-2 lg:mb-6">We are the next wave of Cloud Native Consultants.</h2>
            <h4 class="max-w-2xl mx-auto text-md lg:text-2xl">Stay tuned for more information on our organization, our values and what we bring to the table.</h4>
        </div>
    </div>
    <div class="absolute top-0">
        {{ if $.Site.Params.hero_banner }}
            {{ $src := resources.Get $.Site.Params.hero_banner }}
            {{ $small := $src.Resize "1200x q85 Box" }}
            <img alt="FikaWorks, we are the next wave of Cloud Native Consultants" src="{{ $small.RelPermalink }}" >
        {{ end }}
    </div>
</section>
