<section id="posts" class="lg:py-20 py-10 bg-purple bg-gradient-to-r from-purple-500 via-purple-300 to-purple">
    <div class="max-w-6xl mx-auto lg:p-0 p-6">
        <h2 class="mt-2 text-xl lg:text-6xl font-extrabold tracking-tight text-white">Latest posts</h2>
        <div class="flex flex-col lg:flex-row justify-between">
            {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "in" "blog" )}}
                <div class="flex flex-col lg:m-6 my-6 w-full bg-white">
                    {{ if .Params.thumbnail }}
                    <div class="w-full lg:h-36 h-48 overflow-hidden">
                        {{ $src := .Page.Resources.GetMatch .Params.thumbnail }}
                        {{ $small := $src.Resize "320x q85 Box" }}
                        <a href="{{ .Permalink | relURL }}" title="{{ .Title }}"><img class="object-cover object-center h-full w-full" alt="{{ .Title }}" src="{{ $small.RelPermalink }}"></a>
                    </div>
                    {{end }}
                    <div class="p-4 flex-grow">
                        <a href="{{ .Permalink | relURL }}" title="{{ .Title }}">
                            <h5 class="font-medium">{{ .Title }}</h5>
                            <p class="text-sm">— by {{ .Params.author }}</p>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
