<section id="posts" class="py-20">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-3xl font-medium pt-10 pb-8 text-center">Blog</h2>
        <div class="flex justify-around">
            {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "in" "blog" )}}
                <div class="flex flex-col w-1/3 box-border m-6 shadow overflow-hidden sm:rounded-md justify-between">
                    {{ if .Params.thumbnail }}
                    <div class="w-full h-2/3 overflow-hidden">
                        {{ $src := .Page.Resources.GetMatch .Params.thumbnail }}
                        {{ $small := $src.Resize "320x q85 Box" }}
                        <img class="object-fill" alt="{{ .Title }}" src="{{ $small.RelPermalink }}" >
                    </div>
                    {{end }}
                    <h4 class="px-4 py-4 font-medium">{{ .Title }}</h4>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <a class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="{{ .Permalink | relURL }}" title="Read">Read</a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
