<section id="posts" class="py-20 bg-purple">
    <div class="max-w-6xl mx-auto">
        <h2 class="mt-2 text-6xl font-extrabold tracking-tight text-white">Blog</h2>
        <div class="flex flex-col lg:flex-row justify-between lg:p-0 p-6">
            {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "in" "blog" )}}
                <div class="flex flex-col lg:m-6 my-6 w-full lg:shadow-lg bg-white ring-1 ring-white overflow-hidden sm:rounded-md">
                    {{ if .Params.thumbnail }}
                    <div class="w-full lg:h-36 h-48 overflow-hidden">
                        {{ $src := .Page.Resources.GetMatch .Params.thumbnail }}
                        {{ $small := $src.Resize "320x q85 Box" }}
                        <img class="object-cover object-center h-full w-full" alt="{{ .Title }}" src="{{ $small.RelPermalink }}" >
                    </div>
                    {{end }}
                    <div class="p-4 flex-grow">
                        <h5 class="font-medium">{{ .Title }}</h5>
                        <p class="text-sm">— by {{ .Params.author }}</p>
                    </div>
                    <div class="w-full px-4 py-3 bg-gray-50 text-right sm:px-6">
                        <a class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" href="{{ .Permalink | relURL }}" title="Read">Read</a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
