<section id="next-generation" class="py-6 sm:p-6 bg-gradient-to-r from-aqua via-aqua-300 to-aqua-500">
    <div class="max-w-3xl mx-auto py-12 px-8 container mx-auto show-on-scroll">
        <div>
            <h2 class="lg:text-6xl text-4xl font-extrabold tracking-tight text-white">We are the next wave of Cloud Native Consultants</h2>
            <h4 class="text-base text-white">Stay tuned for more information on our organization, our values and what we bring to the table</h4>
        </div>
    </div>
</section>
