<section id="services" class="py-6 sm:p-6 text-center bg-gray-50">
    <h2 class="text-3xl font-medium pt-10 pb-8 text-center">Services</h2>
    <div class="flex flex-col lg:flex-row items-start justify-between">
        <div class="lg:w-1/3 px-4 py-8 lg:p-8 flex flex-col items-center">
            <h4 class="font-medium text-xl py-8 text-primary">Cloud Native Consultancy</h4>
            <p class="text-sm">We consult with companies on their cloud native transition, agile infrastructure, and DevOps best practices.</p>
        </div>
        <div class="lg:w-1/3 px-4 py-8 lg:p-8 flex flex-col items-center">
            <h4 class="font-medium text-xl py-8 text-primary">Trainings</h4>
            <p class="text-sm">Reach out for Trainings on Kubernetes, Docker, infrastructure automation and cloud (AWS, Azure, Google)</p>
        </div>
        <div class="lg:w-1/3 px-4 py-8 lg:p-8 flex flex-col items-center">
            <h4 class="font-medium text-xl py-8 text-primary">Open Source Advocacy</h4>
            <p class="text-sm">Open source contributors | Meetups and Conferences organizers | Sharing knowledge via talks and presentations</p>
        </div>
    </div>
</section>
