<section id="services" class="lg:py-20 py-10 bg-gradient-to-r from-gray-100 via-white to-gray-5 overflow-hidden">
    <div class="max-w-6xl mx-auto p-5 lg:p-0">
        <div class="lg:w-full bg-purple text-white md:p-32 p-10 flex md:flex-row flex-col items-center md:-ml-32" style="box-shadow: 10px -20px 60px -5px rgba(0, 0, 0, 0.1)">
            <div class="lg:w-3/4 w-full">
                <svg class="w-64 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
                    <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
                </svg>
            </div>
            <div class="lg:w-1/4 w-full">
                <h4 class="font-black text-4xl leading-7">Cloud native consultancy</h4>
                <p class="lg:m-5 mt-5 text-md leading-tight">We consult with companies on their cloud native transition, agile infrastructure, and DevOps best practices.</p>
            </div>
        </div>
        <div class="lg:w-full bg-yellow text-white md:p-32 p-10 flex md:flex-row flex-col items-center mt-20 md:ml-32" style="box-shadow: 10px -5px 60px -5px rgba(0, 0, 0, 0.1)">
            <div class="lg:w-1/4">
                <h4 class="font-black text-4xl leading-7">Trainings</h4>
                <p class="lg:m-5 mt-5 text-md leading-tight">Reach out for Trainings on Kubernetes, Docker, infrastructure automation and cloud (AWS, Azure, Google)</p>
            </div>
            <div class="lg:w-3/4">
                <svg class="w-64 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
                </svg>
            </div>
        </div>
        <div class="lg:w-full bg-aqua text-white md:p-32 p-10 flex md:flex-row flex-col items-center mt-20 md:-ml-32" style="box-shadow: 10px 20px 60px -5px rgba(0, 0, 0, 0.1)">
            <div class="lg:w-3/4">
                <svg class="w-64 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="lg:w-1/4">
                <h4 class="font-black text-4xl leading-7">Open Source Advocacy</h4>
                <p class="lg:m-5 mt-5 text-md leading-tight">Open source contributors | Meetups and Conferences organizers | Sharing knowledge via talks and presentations</p>
            </div>
        </div>
    </div>
</section>
