<section id="services" class="lg:py-20 py-10 bg-gradient-to-r from-gray-100 via-white to-gray-5 overflow-hidden">
    <div class="max-w-6xl mx-auto p-5 lg:p-0">
        <div class="lg:w-full bg-white p-32 flex lg:flex-row flex-col items-center lg:-ml-32" style="box-shadow: 10px -20px 60px -5px rgba(0, 0, 0, 0.1)">
            <div class="lg:w-3/4 text-center">
                placeholder
            </div>
            <div class="lg:w-1/4">
                <h4 class="font-black text-4xl leading-7">Cloud native consultancy</h4>
                <p class="lg:m-5 text-md leading-tight">We consult with companies on their cloud native transition, agile infrastructure, and DevOps best practices.</p>
            </div>
        </div>
        <div class="lg:w-full bg-white p-32 flex lg:flex-row flex-col items-center mt-20 lg:ml-32" style="box-shadow: 10px -5px 60px -5px rgba(0, 0, 0, 0.1)">
            <div class="lg:w-1/4">
                <h4 class="font-black text-4xl leading-7">Trainings</h4>
                <p class="lg:m-5 text-md leading-tight">Reach out for Trainings on Kubernetes, Docker, infrastructure automation and cloud (AWS, Azure, Google)</p>
            </div>
            <div class="lg:w-3/4 text-center">
                placeholder
            </div>
        </div>
        <div class="lg:w-full bg-white p-32 flex lg:flex-row flex-col items-center mt-20 lg:-ml-32" style="box-shadow: 10px 20px 60px -5px rgba(0, 0, 0, 0.1)">
            <div class="lg:w-3/4 text-center">
                placeholder
            </div>
            <div class="lg:w-1/4">
                <h4 class="font-black text-4xl leading-7">Open Source Advocacy</h4>
                <p class="lg:m-5 text-md leading-tight">Open source contributors | Meetups and Conferences organizers | Sharing knowledge via talks and presentations</p>
            </div>
        </div>
    </div>
</section>
