{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Events Section -->" | safeHTML}}
<section id="events" class="section">
    <div class="container">
        <div class="row">
            {{ range .Data.Pages }}
            {{"<!-- single event -->" | safeHTML}}
            <article class="col-lg-4 col-md-6 col-12 clearfix" data-wow-duration="500ms">
                <div class="event-block">
                    <div class="content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <time>{{ dateFormat "Mon, Jan 2, 2006" .Params.event_date }}</time>
                        <hr />
                        <a class="btn btn-transparent" target="_blank" href="{{ .Params.external_link }}">{{ i18n "viewEvent" }}</a>
                    </div>
                </div>
            </article>
            {{"<!-- /single event -->" | safeHTML}}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
