{{- define "main" }}
  <div class="h-full w-full md:block">
    {{- $img := .Resources.Get $.Params.image }}
    {{- if $img }}
      <div
        class="relative min-h-[120px] transform transition duration-300 ease-linear align-middle"
        style="height: 580px;"
      >
        {{- $tiny := $img.Resize "640x webp" }}
        {{- $small := $img.Resize "1024x webp" }}
        {{- $medium := $img.Resize "1600x webp" }}
        {{- $large := $img.Resize "2000x webp" }}
        {{- $xlarge := $img.Resize "3000x webp" }}
        {{- $xxlarge := $img.Resize "4000x webp" }}
        <img
          alt="{{ .Title }}"
          src="{{ $medium.RelPermalink }}"
          style="position: absolute; margin: auto; display: block; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover;"
          srcset="
            {{- $tiny.RelPermalink }}  640w,
            {{- $small.RelPermalink }} 1024w,
            {{- $medium.RelPermalink }} 1600w,
            {{- $large.RelPermalink }} 2000w,
            {{- $xlarge.RelPermalink }} 3000w,
            {{- $xxlarge.RelPermalink }} 4000w
          "
          sizes="100vw"
        />
        <div class="absolute inset-0 hidden dark:block bg-black/20"></div>
      </div>
    {{- end }}
  </div>
  <div
    class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 pb-16 lg:pb-24"
  >
    <div class="col-span-5 pt-7 lg:col-span-3 lg:col-start-2 lg:pt-[120px]">
      <div class="top-10 flex flex-row gap-5 lg:sticky lg:flex-col lg:gap-0">
        <div class="flex items-center gap-2 lg:mb-5">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 lg:w-5 lg:h-5 flex-shrink-0 flex-grow-0"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6 2a1 1 0 0 0-1 1v1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1V3a1 1 0 1 0-2 0v1H7V3a1 1 0 0 0-1-1Zm0 5a1 1 0 0 0 0 2h8a1 1 0 1 0 0-2H6Z"
              class="fill-gray-900 dark:fill-gray-100"
            ></path>
          </svg>
          <p
            class="text-sm font-medium text-gray-800 dark:text-gray-200 md:text-base md:font-light"
          >
            {{- $dateHuman := .Params.event_date | time.Format ":date_long" }}
            {{- $dateHuman }}
          </p>
        </div>
        <div class="flex items-center gap-2 lg:mb-5">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 lg:w-5 lg:h-5 flex-shrink-0 flex-grow-0"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.94 4.86a8.4 8.4 0 0 1 0 11.88L12 22.68l-5.94-5.94A8.4 8.4 0 0 1 17.94 4.86ZM12 13.2a2.4 2.4 0 1 0 0-4.8 2.4 2.4 0 0 0 0 4.8Z"
              class="fill-gray-900 dark:fill-gray-100"
            ></path>
          </svg>
          <p
            class="text-sm font-medium text-gray-800 dark:text-gray-200 md:text-base md:font-light"
          >
            {{ .Params.event_location }}
          </p>
        </div>
        <div class="hidden flex-col md:mt-7 lg:flex">
          <p class="mb-5 dark:text-white">Share this post</p>
          {{ partial "share-buttons.html" . }}
        </div>
      </div>
    </div>
    <div
      class="col-span-full lg:col-span-7 lg:col-start-5 lg:col-end-11 lg:pt-16"
    >
      <div class="flex flex-wrap gap-3">
        {{- range .Params.event_types }}
          <div
            class="inline-block rounded bg-fika-dust dark:bg-gray-700 py-[6px] px-3"
          >
            <span
              class="flex items-center text-xs font-normal capitalize dark:text-gray-200"
              >•
              {{ . }}
            </span>
          </div>
        {{- end }}
      </div>
      <h1
        class="mb-5 mt-4 text-2xl font-medium leading-tight lg:mb-12 lg:text-5xl dark:text-white"
      >
        {{ .Title }}
      </h1>
      <div class="text-lg font-light dark:text-gray-200">
        {{ partial "helpers/enhanced-content.html" .Content }}
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 lg:hidden"
  >
    <div class="col-span-full mt-10 mb-16 lg:mb-24 flex flex-col">
      <p class="mb-6 dark:text-white">Share this post</p>
      {{ partial "share-buttons.html" . }}
    </div>
  </div>
{{- end }}
