{{ define "main" }}
  <div class="pt-28 pb-0 lg:pb-6">
    <div
      class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 "
    >
      <div class="col-span-full lg:col-span-5 lg:col-start-2">
        <h1 class="text-3xl font-medium lg:text-7xl">{{ .Title }}</h1>
        <div class="mt-6 text-lg font-light lg:text-2xl">
          <p class="pb-5 font-light lg:pb-6">
            {{ .Content }}
          </p>
        </div>
        <div class="mt-7 text-sm font-light lg:mt-8 lg:text-base">
          <p class="pb-2 font-medium text-base lg:text-lg">🏢 Offices:</p>
          <p class="pb-3 font-light">
            <strong>Haarlem </strong><br />
            Bakke Rij <br>
            Hendrik Figeeweg 3F<br />
            2031 BJ Haarlem, The Netherlands
          </p>
          <p class="pb-5 font-light lg:pb-6">
            <strong>Amsterdam </strong><br />
            Startup Village<br />
            Science park 608  <br />
            1098 XH Amsterdam, The Netherlands
          </p>
          <p class="text-sm italic text-gray-600 lg:text-base">
            📅 Meeting at our offices is available by appointment only. Please contact us in advance to schedule a visit via info@fika.works
          </p>
        </div>

      </div>
      <div class="col-span-full mb-1 lg:col-start-7 lg:col-end-11 lg:mb-0">
        <form
          name="contact"
          id="contact-form"
          method="post"
          data-netlify="true"
          role="form"
          class="flex flex-col pt-2 lg:gap-6 lg:pt-0"
        >
          <div class="w-full">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium"
                  >Full name*</label
                >
              </div>
              <input
                id="name"
                name="name"
                required=""
                type="name"
                autocomplete="name"
                placeholder="your full name"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium"
                  >email*</label
                >
              </div>
              <input
                id="email"
                name="email"
                required=""
                type="email"
                autocomplete="email"
                placeholder="your email address"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium"
                  >Phone number*</label
                >
              </div>
              <input
                id="phone"
                name="phone"
                required=""
                type="phone"
                autocomplete="phone"
                placeholder="your phone number"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium"
                  >Company name (Optional)</label
                >
              </div>
              <input
                id="company"
                name="company"
                type="company"
                autocomplete="company"
                placeholder="your company name"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium"
                  >Subject</label
                >
              </div>
              <input
                id="subject"
                name="subject"
                type="subject"
                autocomplete="subject"
                placeholder="What is your inquiry?"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium"
                  >Personal inquiry</label
                >
              </div>
              <textarea
                id="message"
                name="message"
                rows="5"
                placeholder="Tell us what you need, we will help you as best as we can."
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
              ></textarea>
            </div>
          </div>
          <div class="mt-8 w-full lg:mt-0">
            <div class="flex items-center">
              <input
                class="h-6 w-6 rounded border-2 border-gray-400 bg-white text-black hover:border-black hover:bg-gray-300 hover:text-gray-700 checked:bg-black focus:ring-0 focus:ring-offset-0 focus:shadow-none focus:outline-none disabled:cursor-not-allowed disabled:border-gray-200 disabled:text-gray-200"
                type="checkbox"
                id="privacy-policy"
              /><label
                for="privacy-policy"
                class="ml-4 text-sm font-normal text-gray-600"
                >I heareby accept fika.works General terms and Privacy
                policy.</label
              >
            </div>
          </div>
          <div class="mt-12">
            <button
              type="submit"
              class="group inline-block w-full cursor-pointer rounded-[40px] bg-black text-white hover:bg-fika-hover-purple focus:bg-fika-purple active:bg-fika-purple disabled:cursor-not-allowed disabled:bg-gray-400 lg:w-max"
            >
              <div
                class="flex items-center justify-center gap-2 py-5 text-center text-base font-medium lg:py-6 lg:px-10 lg:text-xl"
              >
                Submit this form
              </div>
            </button>
          </div>
          <div class="mt-12">
            <div
              class="form-success hidden bg-green-300 border-green-500 border-2 rounded-md px-5 py-3"
            >
              Thank you for contacting us. We'll get back to you as soon as
              possible.
            </div>

            <div
              class="form-failed hidden bg-red-300 border-red-400 border-2 rounded-md px-5 py-3"
            >
              We apologize, but an error occurred while submitting your form.
              Please try again later.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ end }}
