{{ define "main" }}
  <div class="pt-28 pb-0 lg:pb-6">
    <div class="grid grid-cols-6 md:grid-cols-12 mx-3 md:mx-10 relative lg:gap-10 gap-6 ">
      <div class="col-span-full lg:col-span-5 lg:col-start-2">
        <div
          data-blok-c='{"name":"contact_header","space":"191941","uid":"4ef242ea-cde5-443a-895f-7571383bea3b","id":"251617527"}'
          data-blok-uid="251617527-4ef242ea-cde5-443a-895f-7571383bea3b"
        >
          <h1 class="text-3xl font-medium lg:text-7xl">{{ .Title }}</h1>
          <div class="mt-6 text-lg font-light lg:text-2xl">
            <p class="pb-5 font-light lg:pb-6">
              {{ .Content }}
            </p>
          </div>
          <div class="mt-8 flex w-full flex-wrap items-center gap-5 md:mt-6 md:flex-nowrap">
            <a
              href="https://www.google.com/maps/dir/?api=1&amp;destination=Hendrik+Figeeweg+3F,+2031+BJ+Haarlem"
              target="_blank"
              class="w-full md:w-auto"
              ><div
                class="group inline-block lg:w-max w-full cursor-pointer bg-fika-offWhite text-black hover:bg-black hover:text-white focus:bg-black focus:text-white rounded-lg"
              >
                <div class="font-medium text-center py-[14px] px-5 text-sm">
                  <div class="flex items-center justify-center gap-3">
                    <svg
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 lg:w-6 lg:h-6 flex-shrink-0 flex-grow-0"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.94 4.86a8.4 8.4 0 0 1 0 11.88L12 22.68l-5.94-5.94A8.4 8.4 0 0 1 17.94 4.86ZM12 13.2a2.4 2.4 0 1 0 0-4.8 2.4 2.4 0 0 0 0 4.8Z"
                        fill="currentColor"
                      ></path></svg
                    ><span class="text-sm font-medium">Route in Google Maps</span>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div class="mt-7 text-sm font-light lg:mt-16 lg:text-base">
            <p class="pb-5 font-light lg:pb-6">
              FikaWorks BV<br />Hendrik Figeeweg 3 F, 2031BJ Haarlem, The Netherlands
            </p>
          </div>
          <div><span class="block text-sm font-light lg:text-base">info@fika.works</span></div>
        </div>
      </div>
      <div class="col-span-full mb-1 lg:col-start-7 lg:col-end-11 lg:mb-0">
        <form novalidate="" class="flex flex-col pt-2 lg:gap-6 lg:pt-0">
          <div class="w-full">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium">Full name*</label>
              </div>
              <input
                id="name"
                name="name"
                required=""
                type="name"
                autocomplete="name"
                placeholder="your full name"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium">email*</label>
              </div>
              <input
                id="email"
                name="email"
                required=""
                type="email"
                autocomplete="email"
                placeholder="your email address"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium">Phone number*</label>
              </div>
              <input
                id="phone"
                name="phone"
                required=""
                type="phone"
                autocomplete="phone"
                placeholder="your phone number"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium">Company name (Optional)</label>
              </div>
              <input
                id="company"
                name="company"
                type="company"
                autocomplete="company"
                placeholder="your company name"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium">Subject</label>
              </div>
              <input
                id="subject"
                name="subject"
                type="subject"
                autocomplete="subject"
                placeholder="What is your inquiry?"
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
                value=""
              />
            </div>
          </div>
          <div class="mt-6 w-full lg:mt-0">
            <div class="w-full">
              <div class="flex justify-between">
                <label for="email" class="mb-4 text-lg font-medium">Personal inquiry</label>
              </div>
              <textarea
                id="message"
                name="message"
                rows="5"
                placeholder="Tell us what you need, we will help you as best as we can."
                class="block w-full rounded-lg border-none bg-gray-100 px-6 py-3 text-lg font-light outline-0 ring-black focus:ring-2"
              ></textarea>
            </div>
          </div>
          <div class="mt-8 w-full lg:mt-0">
            <div class="flex items-center">
              <input
                class="h-6 w-6 rounded border-2 border-gray-400 bg-white text-black hover:border-black hover:bg-gray-300 hover:text-gray-700 checked:bg-black focus:ring-0 focus:ring-offset-0 focus:shadow-none focus:outline-none disabled:cursor-not-allowed disabled:border-gray-200 disabled:text-gray-200"
                type="checkbox"
                id="privacy-policy"
              /><label for="privacy-policy" class="ml-4 text-sm font-normal text-gray-600"
                >I heareby accept fika.works General terms and Privacy policy.</label
              >
            </div>
          </div>
          <div class="mt-12">
            <button
              type="submit"
              class="group inline-block w-full cursor-pointer rounded-[40px] bg-black text-white hover:bg-fika-hover-purple focus:bg-fika-purple active:bg-fika-purple disabled:cursor-not-allowed disabled:bg-gray-400 lg:w-max"
            >
              <div
                class="flex items-center justify-center gap-2 py-5 text-center text-base font-medium lg:py-6 lg:px-10 lg:text-xl"
              >
                Submit this form
              </div>
            </button>
          </div>
          <div>
            <div>
              <div>
                <div
                  class="grecaptcha-badge"
                  data-style="bottomright"
                  style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;"
                >
                  <div class="grecaptcha-logo">
                    <iframe
                      title="reCAPTCHA"
                      width="256"
                      height="60"
                      role="presentation"
                      name="a-x285supocwta"
                      frameborder="0"
                      scrolling="no"
                      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
                      src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lf2-y4kAAAAACaQr35gpNqubuxHM_KMtl2zpuZj&amp;co=aHR0cHM6Ly9maWthLndvcmtzOjQ0Mw..&amp;hl=en&amp;type=image&amp;v=GUGrl5YkSwpBsxsF3eY665Ye&amp;theme=light&amp;size=invisible&amp;badge=bottomright&amp;cb=d59eiiwliin"
                    ></iframe>
                  </div>
                  <div class="grecaptcha-error"></div>
                  <textarea
                    id="g-recaptcha-response"
                    name="g-recaptcha-response"
                    class="g-recaptcha-response"
                    style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"
                  ></textarea>
                </div>
                <iframe style="display: none;"></iframe>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ end }}
