@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

article img {
  margin: 1rem auto;
}

article .highlight {
  font-size: 0.75rem;
}

#hero {
  background-image: url("/images/hero-bg.png");
  background-position: 50% 0;
}
