@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

article h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
}

article p {
  margin: 1rem 0;
}

article img {
  margin: 1rem auto;
}
