@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

article img {
  margin: 1rem auto;
}

article .highlight {
  font-size: 0.75rem;
}

img.member {
	margin: 5px;
    	border-width:5px; 
}

img.member.founder {
    	border-color: #49b0b0;
}

img.member.full {
    	border-color: #fcd34d;
}

img.member.incubating {
    	border-color: #a01077;
}

#members-key .founder {
    	color: #49b0b0;
}

#members-key .full {
    	color: #fcd34d;
}

#members-key .incubating {
    	color: #a01077;
}
